
p{
    margin: 0;
}
a{
    color: #C25B56;
}
a:hover{
    color: #C25B56;
}
.table table{
    width: 100%;
}
.table table tr,th,td{
    border: solid 0.1px #DEE2E6;
    border-collapse:collapse;
}
.table table tr:first-child{
    background: #C25B56;
    color: #fff;
}
.table table tr:nth-child(even){
    background: #E6E6E6;
}