
.slide{
  margin-left: 20px;
}
.slide col{
  border:solid 1px #000;
}
.parea{
    background: #FFF;
    padding: 50px 20px 0 50px;
    margin: 0 50px -40px 50px;
}
.parea1{
    text-align: center;
}
.parea2 img{
    width: 100%;
    height: 85%;
}
.parea p{
    text-align: justify;
    margin-left: -15px;
}
.parea2 p:last-child{
    text-align: right;
    font-weight: bold;
}
.coursearea{
    background: url('course.png') fixed;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
}   
.box{
    height: 300px;
    background: #FFF;
    position: relative;
}
.course1 p{
    text-align: center;
}
.course1 img{
    height: 150px;
    border-radius: 50%;
    transition:transform 2s 0s linear;
    margin-left: 10px;
    margin-top:20px;
}
.course1 img:hover{
    transform: rotate(360deg);
    transition:3s;
}
.coursearea p{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin:0 ;
    padding: 20px 0;
    border-radius: 5px;
}
.coursearea p:last-child{
    background: #FFF;
    text-align: center;
    margin: 30px 0;
}
.alumni{
    background:url('r3.png');
    height: 350px;
}
.alumni img{
    margin-top: 50px;
}
